html {
    font-size: 13px;
}

body {
    font: 1.2rem/1.6em "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: normal;
    color: #666;
    font-weight: 500;
    font-style: normal;
    margin: 0.8rem 0 0.5rem 0;
    line-height: 1.5em;
}

h1,
h2,
h3 {
    font-style: normal;
    font-size: 2em;
    margin: 0;
    font-weight: 300;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    text-transform: none;
}

h1 {
    color: #05afe7;
}

h2 {
    color: #05afe7;
    font-size: 1.6em;
    margin: 2rem 0 0.5rem 0;
}

h2 b {
    color: #888;
}

h3 {
    font-size: 1.1em;
    margin: 0.45rem 0 0 0;
}

h4 {
    font-size: 1em;
    margin: 0.4rem 0 0 0;
}

h5 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.4rem 0 0 0;
}

a {
    text-decoration: none;
    color: #ff9804;
}

a:hover {
    color: #ff6600;
}

p {
    margin-bottom: 1rem;
}

code {
    white-space: normal;
    font-size: 0.8em;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    float: right;
}

.center {
    text-align: center;
}

.button,
button {
    color: #fff;
    background-color: #05afe7;
    border: none;
    border-radius: 0.25rem;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.7rem;
    padding: 0.3rem 0.6rem;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.button:hover,
button:hover {
    color: #fff;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2)
}

.button.grey {
    background-color: #aaa;
}

.button.orange {
    background-color: #f49a18;
}

.button.small {
    font-size: 0.95em;
    margin: 0;
    position: relative;
    top: 0.2rem;
    float: right;
    height: 2.2rem;
    line-height: 2.25rem;
    font-weight: 400;
    padding: 0 0.6rem;
}

nav .button.small {
    top: 0.4rem;
    background-color: #fff;
    color: #0ab1e8;
    opacity: 0.8;
    height: 2.6rem;
    line-height: 2.6rem;
}

nav .button.small:hover {
    text-shadow: none;
    opacity: 1.0;
}

.inline-buttons {
    text-align: center;
}

.inline-buttons .button {
    margin: 1rem 1rem 2rem 1rem;
}

ul.list {
    list-style: disc;
    padding: 0 0 0 2rem;
    color: #444;
}

ul.inline {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

ul.inline li {
    display: inline-block;
    white-space: nowrap;
    padding: 0 2rem;
    margin: 0 0 0.2rem 0;
}




article {
    clear: both;
    padding: 1rem 5%;
    min-height: 50rem;
    max-width: 110em;
    margin: 0 auto;
}

article.narrow {
    max-width: 80em;
    margin: 0 auto;
}

section {
    clear: both;
    display: block;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

section.padded {
    padding: 1rem 2rem;
    max-width: 80em;
}

section.narrow {
    padding: 0 2rem;
    max-width: 50em;
}

.container {
    display: flex;
}

.column {
    min-width: 48%;
    margin-right: 2%;
}

.column .third {
    width: 31%;
}

blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #aaa;
}

@media(min-width:750px) {
    section.actions {
        text-align: right;
        margin-top: -4.5rem;
    }
    section.actions .button {
        float: right;
    }
    
}